@media screen and (min-width: 1921px) {
    #main {
        background-size: 100%;
        background-position: bottom center;
    }
}


/*1200-1213*/
@media screen and (max-width: 1213px) {
    #main {
        padding: 0 15px;
        box-sizing: border-box;
    }

    #titles #icon {
        right: 74px;
    }

    #guaranties-container {
        padding: 0 15px;
        box-sizing: border-box;
    }

    #projects {
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 1000px;
        margin: 0 auto;
    }

    .project-info .project-info-properties .project-info-property {
        margin-right: 15px;
    }

    #advantages {
        padding: 0 15px;
        box-sizing: border-box;
    }

    #reviews {
        padding: 0 15px;
        box-sizing: border-box;
    }

    #order-container {
        padding: 0 15px;
        box-sizing: border-box;
    }

    #footer {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .slick-initialized .slick-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #projects #projects-container .projects .project .project-image {
        margin: 0 auto;
    }

    #projects #projects-container .projects .project .project-info {
        margin: 0 auto;
    }

    .project-info .project-info-text .project-info-text-description {
        text-align: center;
    }

    .project-info .project-info-properties {
        justify-content: space-between;
        margin-top: 35px;
    }

    .project-info .small-number {
        margin-bottom: 0;
        position: relative;
        top: 20px;
        left: -100px;

    }

    .project-info h3 {
        margin: 0 0 22px 0;
    }

    .slick-dots {
        left: 0;
        top: 510px;
    }

    .slick-prev {
        left: 30px;
    }

    .slick-next {
        left: unset;
        right: 30px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 465px;
        height: 273px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 970px;
    }

    .slick-dotted.slick-slider {
        max-width: 1000px;
        margin: 0 auto 30px auto;
    }

    .project-info {
         margin-left: unset;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 980px;
    }

}

/*1024-1184*/
@media screen and (max-width: 1184px) {


    #advantages #guarantee-container #quote #quote-quotes {
        right: 588px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 455px;
        height: 257px;
    }

}

@media screen and (max-width: 1170px) {
    #reviews #reviews-container .reviews-video iframe {
        width: 435px;
        height: 245px;
    }
}

    /*1091-1124*/
@media screen and (max-width: 1124px) {
    #advantages #guarantee-container #quote #quote-quotes {
        right: 552px;
    }

}

/*1024-1090*/
@media screen and (max-width: 1090px) {

    #header .logo {
        padding-right: 155px;
    }

    #second-guaranty {
        top: 310px;
        right: 15px;
    }

    #third-guaranty {
        top: 480px;
        left: 50px;
    }

    #fourth-guaranty {
        top: 688px;
        right: 15px;
    }

    #guaranties {
        height: 1000px;
        background-size: 100% 100%;
    }

    #advantages-container-images {
        width: 590px;
    }

    #advantages-container-images img {
        width: 100%;
    }

    #order #order-container img {
        left: unset;
        right: -250px;
    }

    #advantages #guarantee-container #quote #quote-text {
        max-width: 471px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 500px;
    }

    #statistics .statistics-item {
        max-width: 265px;
    }

    #statistics .statistics-item .statistics-item-text {
        font-size: 17px;
    }

    #reviews-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 655px;
        height: 345px;
    }

}

/*768-1023*/
@media screen and (max-width: 1023px) {
    #advantages #guarantee-container #quote #quote-text {
        max-width: 458px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 474px;
    }

    #advantages #guarantee-container #quote #quotes-author {
        font-size: 16px;
        right: 165px;
    }

    #advantages-container-images {
        width: 560px;
    }
}

/*768-1000*/
@media screen and (max-width: 1000px) {
    #order #order-container img {
        top: 100px;
    }

    #advantages #guarantee-container #quote #quote-text {
        font-size: 18px;
        max-width: 400px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 424px;
    }

    #advantages #guarantee-container #quote #quotes-author {
        font-size: 15px;
        right: 125px;
    }

    #advantages #guarantee-container #quote #quotes-signature {
        width: 125px;
    }

    #advantages #guarantee-container #quote #quotes-signature img {
        width: 100%;
    }

    #statistics .statistics-item .statistics-item-number {
        height: 175px;
    }

    #statistics .statistics-item img {
        height: 100%;
    }

    #advantages-container-images {
        width: 510px;
    }

    #footer #footer-container #logo-icon #footer-icons {
        width: 130px;
    }

    #footer #footer-container .footer-info .footer-info-title {
        font-size: 18px;
    }

    #footer #footer-container .footer-info .footer-info-text {
        font-size: 14px;
    }

    #footer #footer-container #footer-contacts .footer-contact .footer-contact-text {
        font-size: 18px;
    }

    #header .logo {
        padding-right: 100px;
    }

    #reviews #reviews-text {
        line-height: 30px;
    }

    .slick-dotted.slick-slider {
        max-width: 800px;
        margin: 0 auto 30px auto;
    }

    .project-image {
        width: 675px;
        height: auto;
        box-sizing: border-box;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-dots {
        top: 450px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 880px;
    }

    #first-guaranty {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        margin: 50px auto;
    }

    #second-guaranty {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        margin: 50px auto;
    }

    #third-guaranty {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        margin: 50px auto;
    }

    #fourth-guaranty {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        margin: 50px auto;
    }

    #guaranty-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #guaranties-container  .title {
        margin-bottom: 50px;
    }

    #guaranties {
        height: 1160px;
        background-size: auto 100%;
    }

}

/*768-960*/
@media screen and (max-width: 960px) {
    #advantages #guarantee-container #quote #quote-text {
        font-size: 16px;
        max-width: 350px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 366px;
    }

    #advantages #guarantee-container #quote #quotes-author {
        font-size: 14px;
        width: 215px;
    }

    #advantages #guarantee-container #quote #quotes-signature {
        width: 110px;
    }

    #titles #icon {
        right: 30px;
    }

    #statistics {
        margin: 140px 20px;
    }

    #advantages-container-images {
        width: 480px;
    }

}

/*768-932*/
@media screen and (max-width: 932px) {

    #header .logo {
        padding-right: 60px;
    }

    #statistics .statistics-item .statistics-item-number {
        height: 150px;
    }

    #statistics .statistics-item .statistics-item-text {
        font-size: 17px;
        max-width: 205px;
    }


}

/*768-900*/
@media screen and (max-width: 900px){

    #pop-up-container {
        width: 700px;
    }

}

/*767-870*/
@media screen and (max-width: 870px) {
    #order #order-container img {
        display: none;
    }

    #order #order-container #order-form {
        margin: 0 auto;
    }

    #order #order-container #order-text {
        margin: 49px auto 70px auto;
    }

    #reviews #reviews-text {
        margin: 49px auto 82px auto;
        max-width: 718px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        display: none;
    }

    #advantages-container-images {
        width: 420px;
    }

    #statistics {
        margin: 140px 20px 100px 20px;
    }

    #order #order-container #order-form {
        margin: 0 auto 60px auto;
    }

    #footer #footer-container #logo-icon #footer-icons {
        width: 110px;
    }

    #footer #footer-container .footer-info .footer-info-title {
        font-size: 17px;
    }

    #footer #footer-container .footer-info .footer-info-text {
        font-size: 13px;
    }

    #footer #footer-container #footer-contacts .footer-contact .footer-contact-text {
        font-size: 17px;
    }

    #advantages #guarantee-container #quote #quote-text {
        max-width: 325px;
    }

}

/*580-835*/
@media screen and (max-width: 835px) {
    #advantages #guarantee-container #quote #quote-text {
        max-width: 303px;
    }

    #header {
        justify-content: space-between;
        align-items: center;
    }

    #burger {
        display: block;
        font-size: 40px;
        color: white;
        padding-top: 20px;
    }

    #titles-kitchen {
        margin-top: 110px;
    }

    #header {
        position: relative;
    }

    #header.menu-open {
        margin: 0 -15px;
        padding: 0 15px;
        background: rgba(0, 0, 0, 0.6);

    }

    #menu {
        top: 73px;
        right: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        z-index: 3;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
    }

    #menu a {
        padding: 10px 0;
    }


    #header.menu-open #menu {
        display: flex;
    }

    .project-image {
        width: 614px;
    }

    .slick-dots {
        top: 425px;
    }

    .slick-prev {
        top: 270px;
    }

    .slick-next {
        top: 270px;
    }

    .slick-dots {
        top: 415px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 850px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 625px;
        height: 340px;
    }
}

/*580-815*/
@media screen and (max-width: 815px) {

    #statistics .statistics-item .statistics-item-number {
        order: 1;
    }

    #statistics .statistics-item .statistics-item-text {
        order: 2;
    }

    #advantages #guarantee-container #quote {
        width: 99%;
        top: 322px;
        right: 0px;
        height: 270px;
    }

    #advantages #guarantee-container #guarantee {
        position: relative;
        margin: 0 auto;
        z-index: 3;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        display: block;
        right: 640px;
        top: 40px;
        z-index: -1;
    }

    #advantages #guarantee-container #quote #quote-text {
        max-width: 471px;
    }

    #advantages #guarantee-container #quote #quote-text {
        position: static;
        margin: 0 auto;
        padding-top: 70px;
        max-width: 504px;
    }

    #reviews {
        margin: 352px auto 0 auto;
    }

    #statistics .statistics-item .statistics-item-number {
        height: 140px;
    }

    #statistics .statistics-item .statistics-item-number {
        order: 1;
    }

    #footer #footer-container #footer-contacts {
        order: 2;
    }

    #footer #footer-container .footer-info {
        order: 3;
    }

    #footer #footer-container {
        max-width: 532px;
        flex-wrap: wrap;
    }

    #footer #footer-container #logo-icon #footer-icons {
        width: 156px;
    }

    #footer {
        background-size: auto 100%;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 585px;
        height: 320px;
    }

}

/*580-767*/
@media screen and (max-width: 767px) {

    #titles-kitchen {
        font-size: 40px;
    }

    #titles-key span {
        font-size: 22px;
    }

    #projects .title {
        margin-top: 70px;
    }

    .slick-prev {
        top: 260px;
    }

    .slick-next {
        top: 260px;
    }

    #statistics .statistics-item .statistics-item-number {
        height: 120px;
        order: 1;
    }

    #statistics .statistics-item .statistics-item-text {
        max-width: 188px;
        order: 2;
    }

    #advantages-container-images {
        position: absolute;
        width: 95%;
        opacity: 0.07;
    }

    #advantages #advantages-container #advantages-container-items {
        display: block;
        margin: 0 auto;
    }


}

/*480-745*/
@media screen and (max-width: 745px) {

    #projects #projects-text {
        margin: 45px auto 0 auto;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 580px;
    }

    #order #order-container #order-form #order-form-active {
        display: flex;
        flex-direction: column;
    }


    #order #order-container #order-form {
        width: 585px;
    }

    #order-form #order-error {
        left: 165px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 555px;
        height: 310px;
    }

    #pop-up-container {
        width: 600px;
    }

    #reservation-text {
        font-size: 18px;
        margin: 0 auto 40px auto;
        max-width: 450px;
    }

    #reservation h1 {
        margin: 45px auto 15px auto;
    }

}


@media screen and (max-width: 745px) {

    #guaranties {
        height: 1210px;
    }

    .title span.line {
        display: none;
    }

    .title h2 {
        margin: 0 auto;
    }

}


/*480-720*/
@media screen and (max-width: 720px) {

    .project-image {
        width: 514px;
    }

    .slick-dots {
        top: 355px;
    }

    .slick-prev, .slick-next {
        top: 230px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 780px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 500px;
        height: 280px;
    }

}

/*480-681*/
@media screen and (max-width: 681px) {
    #order-form #order-error {
        left: 125px;
        top: 118px;
    }
}

/*480-680*/
@media screen and (max-width: 680px) {

    #reviews #reviews-container .reviews-video iframe {
        width: 450px;
        height: 250px;
    }

    #advantages #guarantee-container #quote #quote-text {
        position: static;
        margin: 0 auto;
        padding-top: 70px;
        max-width: 460px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 535px;
    }

    #titles #icon {
        top: 312px;
    }

    .project-image {
        width: 491px;
    }

    .slick-prev {
        top: 220px;
    }

    .slick-next {
        top: 220px;
    }

    .slick-dots {
        top: 340px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 765px;
    }

    #statistics {
        flex-direction: column;
    }

    #statistics .statistics-item {
        padding: 20px 0;
    }

    #statistics .statistics-item .statistics-item-number {
        height: 150px;
    }
    #statistics .statistics-item .statistics-item-text {
        max-width: 310px;
        font-size: 18px;
    }

    #guaranty-container {
        max-width: 442px;
        margin: 0 auto;
    }

    .guaranty .guaranty-info .guaranty-info-text {
        font-size: 15px;
        font-family: "GilroyMedium",sans-serif;
        color: rgb(56, 25, 0);
        max-width: 442px;
        line-height: 1.667;
    }

    .guaranty .number {
        font-size: 150px;
        font-family: "GilroyBold",sans-serif;
        color: rgba(126, 123, 121, 0.2);
        position: absolute;
    }

    #first-guaranty .number, #second-guaranty .number, #third-guaranty .number, #fourth-guaranty .number {
        left: -32px;
        top: -70px;
    }

    #projects .title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    #order #order-container #order-form {
        width: 500px;
    }

    #order #order-container #order-form #order-form-text {
        font-size: 25px;
        font-family: "GilroyBold",sans-serif;
        color: rgb(56, 25, 0);
        line-height: 1.4;
        text-align: center;
        margin: 0 auto;
        padding: 30px 0 15px 0;
        max-width: 400px;
    }

    #pop-up-container {
        width: 500px;
    }

    #reservation #form-container {
        align-items: center;
        margin-right: 0;
    }

    #reservation form p {
        top: -52px;
        right: 127px;
    }

    #reservation img {
        display: none;
    }

    #reservation-agreed {
        margin-right: unset;
    }

    #reservation-sent #reservation-sent-text {
        font-size: 20px;
        font-family: "GilroyMedium",sans-serif;
        color: rgb(56, 25, 0);
        margin: 100px auto 100px auto;
        text-align: center;
        max-width: 300px;
    }

}

/*480-640*/
@media screen and (max-width: 640px) {

    #titles-action button.btn {
        margin: 97px 0 80px 0;
    }

    #titles-advantages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 204px;
        justify-content: space-between;
        margin-left: -5px;
        padding-bottom: 52px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        right: 510px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 400px;
        height: 220px;
    }
}

/*480-610*/
@media screen and (max-width: 610px) {
    #advantages #guarantee-container #quote #quote-quotes {
        right: unset;
        left: 10px;
    }

    .project-image {
        width: 470px;
    }

    .slick-prev {
        top: 210px;
    }

    .slick-next {
        top: 210px;
    }

    .slick-dots {
        top: 330px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 750px;
    }

}

/*480-579*/
@media screen and (max-width: 579px) {

    #advantages #guarantee-container #quote #quote-quotes {
        background-size: 100% auto;
        top: 52px;
        left: 10px;
        width: 30px;
        height: 26px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 385px;
        height: 201px;
    }

    .project-image {
        width: 393px;
    }
    .slick-prev, .slick-next {
        top: 185px;
    }

    .slick-dots {
        top: 285px;
    }

    .project-info .small-number {
        left: -70px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 700px;
    }

    #order #order-container #order-form {
        width: 450px;
    }

    #order-form #order-error {
        left: 100px;
    }

    #pop-up-container {
        width: 400px;
    }

    #reservation-text {
        font-size: 17px;
        margin: 0 auto 40px auto;
        max-width: 310px;
    }

    #reservation form p {
        top: -50px;
        right: 87px;
        font-size: 16px;
    }

}

@media screen and (max-width: 541px) {
    #order-form #order-error {
        left: 75px;
    }
}

/*480-540*/
@media screen and (max-width: 540px) {
    #titles-kitchen {
        font-size: 35px;
    }

    #titles-key span {
        font-size: 20px;
    }

    #titles-key {
        height: 50px;
    }

    #titles-key img {
        height: 100%;
    }

    #titles #icon {
        top: 460px;
    }

    .title h2 {
        font-size: 30px;
    }

    .title h2 span {
        font-size: 30px;
    }

    #projects #projects-text {
        font-size: 18px;
    }

    .project-info .project-info-properties .project-info-property span {
        font-size: 17px;
    }

    .project-info h3 {
        font-size: 20px;
    }

    .project-info .small-number {
        font-size: 80px;
    }

    .project-info .project-info-text .project-info-text-title {
        font-size: 17px;
    }

    .project-info .project-info-text .project-info-text-description {
        font-size: 17px;
    }

    #statistics .statistics-item .statistics-item-text {
        font-size: 17px;
    }

    #advantages #guarantee-container #quote #quote-quotes {
        display: none;
    }

    #reviews #reviews-text {
        font-size: 18px;
    }

    #reviews #reviews-container {
         margin: 0;
    }

    #order #order-container #order-text {
        font-size: 18px;
    }

    #footer #footer-text {
        font-size: 13px;
    }

    #order #order-container #order-form {
        width: 400px;
    }

    #guaranty-container {
        margin: 0 10px 0 auto;
    }

}

/*480-499*/
@media screen and (max-width: 515px) {

    #advantages #guarantee-container #quote #quote-text {
        position: static;
        margin: 0 auto;
        padding-top: 50px;
        max-width: 400px;
    }

    .project-info .small-number {
        left: -30px;
    }
}

/*480-499*/
@media screen and (max-width: 499px) {

    .project-image {
        width: 353px;
    }

    .slick-prev, .slick-next {
        top: 175px;
    }

    .slick-dots {
        top: 305px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 675px;
    }

    #guaranty-container {
        margin: 0px auto;
    }

    #first-guaranty .number, #second-guaranty .number, #third-guaranty .number, #fourth-guaranty .number {
        left: 0px;
        top: -79px;
    }
}

/*320-476*/
@media screen and (max-width: 476px) {

    #titles-kitchen {
        font-size: 30px;
    }

    #footer #footer-container {
        max-width: 316px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer #footer-container #logo-icon #footer-icons {
        margin-bottom: 40px;
    }

    #footer #footer-container #logo-icon .logo {
        margin: 55px auto 55px auto;
    }

    #footer #footer-container .footer-info {
        justify-content: center;
        align-items: center;
    }

    .guaranty .guaranty-info .guaranty-info-text {
        max-width: 410px;
    }

    .project-image {
        width: 314px;
    }

    .slick-prev, .slick-next {
        top: 160px;
    }

    .slick-dots {
        top: 290px;
    }

    .project-info {
        margin-top: 20px;
    }

    .project-info .small-number {
        left: -15px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 670px;
    }

    #advantages #guarantee-container #guarantee {
        width: 299px;
        height: 242px;
    }

    #advantages #guarantee-container #guarantee #guarantee-orange-container {
        left: 10px;
        top: 8px;
        width: 274px;
        height: 221px;
    }

    #advantages #guarantee-container #guarantee #guarantee-orange-container #guarantee-orange-number {
        font-size: 150px;
        left: 16px;
        top: 2px;
    }

    #advantages #guarantee-container #guarantee #guarantee-orange-container #guarantee-orange-years {
        font-size: 70px;
        right: -7px;
        top: 37px;
    }

    #advantages #guarantee-container #guarantee #guarantee-orange-container #guarantee-orange-warranty {
        font-size: 55px;
        left: 15px;
    }

    #advantages #guarantee-container #quote {
        top: 220px;
    }

    #advantages #guarantee-container #quote #quote-text {
        margin: 0 10px;
    }

    #pop-up-container {
        width: 300px;
    }

    #reservation h1 {
        font-size: 30px;
        font-family: "GilroyExtrabold",sans-serif;
        color: rgb(56, 25, 0);
        margin: 35px auto 15px auto;
        text-align: center;
    }

    #reservation-text {
        font-size: 16px;
    }

    #reservation form p {
        top: -50px;
        right: 40px;
        font-size: 15px;
    }

    #reservation form input {
        border-width: 1px;
        border-color: rgb(126, 123, 121);
        border-style: solid;
        background-color: rgb(255, 246, 238);
        border-radius: 35px;
        width: 272px;
        padding: 25px 0 25px 25px;
        box-sizing: border-box;
        margin-bottom: 20px;
        outline: none;
    }

    #reservation button.btn {
        margin-bottom: 22px;
        width: 272px;
    }

    #reservation-sent #reservation-sent-text {
        max-width: 250px;
    }

}

/*320-476*/
@media screen and (max-width: 426px) {

    .guaranty .guaranty-info .guaranty-info-text {
        max-width: 340px;
    }

    #guaranties {
        height: 1200px;
    }

    #first-guaranty, #second-guaranty, #third-guaranty, #fourth-guaranty {
        margin: 50px auto 0 0;
    }

    #order #order-container #order-form {
        width: 300px;
    }

    #order #order-container #order-form input {
        width: 240px;
        padding: 26px 0 26px 17px;
    }

    #order #order-container #order-form button.btn {
        width: 240px;
    }

    #order #order-container #order-form #order-form-text {
        font-size: 22px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 305px;
        height: 171px;
    }

    #order-form #order-error {
        left: 35px;
        top: 110px;
        font-size: 16px;
    }

}

/*320-411*/
@media screen and (max-width: 411px) {
    #titles #icon {
        top: 490px;
    }

    .project-info .project-info-properties .project-info-property span {
        font-size: 16px;
    }

    .project-image {
        width: 284px;
    }

    .slick-prev, .slick-next {
        top: 155px;
    }

    .slick-dots {
        top: 273px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 650px;
    }

}

@media screen and (max-width: 382px) {
    #advantages #guarantee-container #quote #quotes-author {
        font-size: 13px;
        width: 190px;
    }

    .project-info .small-number {
        left: -20px;
    }


    .project-info .project-info-properties {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .project-info .project-info-properties .project-info-property {
        margin: 10px 0;
    }

    .project-info {
        margin-left: 0;
    }

    .project-info .small-number {
        left: -15px;
    }

    .project-image {
        width: 330px;
        border: 6px solid white;
        box-shadow: 0px 5px 10px -1px rgba(62, 46, 30, 0.1);
    }

    .slick-dots {
        top: 295px;
    }

    .slick-prev, .slick-next {
        top: 175px;
    }

    .slick-next {
        right: 18px;
    }

    .slick-prev {
        left: 18px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 740px;
    }

    #statistics {
        margin: 100px 20px 100px 20px;
    }

    #advantages #guarantee-container #quote {
        height: 285px;
    }

    #advantages #guarantee-container #quote #quotes-signature {
        width: 90px;
    }

    #advantages #guarantee-container #quote #quotes-author {
        width: 180px;
    }

    .guaranty .guaranty-info .guaranty-info-text {
        max-width: 300px;
    }

    #guaranties {
        height: 1200px;
    }

    #titles-action button.btn {
        margin: 97px auto 80px auto;
        width: 240px;
    }

    #titles-action {
        margin: 0 auto;
        text-align: center;
    }

    #titles-key span {
        font-size: 19px;
    }

    #titles-kitchen {
        text-align: center;
    }

    .project-info .project-info-text .project-info-text-description {
        margin-left: 25px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 775px;
    }
}

@media screen and (max-width: 366px) {

    .project-image {
        width: 320px;
    }

    .slick-dots {
        top: 290px;
    }

    .slick-next {
        right: 15px;
    }

    .slick-prev {
        left: 15px;
    }

}

@media screen and (max-width: 356px) {
    #guaranties {
        height: 1200px;
    }
}

@media screen and (max-width: 350px) {

    .title h2 span {
        font-size: 29px;
    }

    .title h2 {
        font-size: 29px;
    }

    .title span.line {
        margin-right: 20px;
    }

    .slick-prev {
        left: 17px;
        top: 170px;
    }

    .slick-next {
        right: 17px;
        top: 170px;
    }

    .project-info .small-number {
        left: -5px;
    }

    .project-image {
        width: 300px;
    }

    .slick-dots {
        top: 280px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 755px;
    }

    #advantages-container-images {
        display: none;
    }

    #advantages #guarantee-container #quote #quotes-author {
        right: 110px;
        top: 232px;
    }

    #advantages #guarantee-container #quote #quotes-signature {
        right: 15px;
        bottom: 15px;
    }

    #reviews #reviews-container .reviews-video iframe {
        box-shadow: 0px 16px 10px -5px rgba(197, 185, 175, 0.76);
    }

    #order #order-container #order-form {
        box-shadow: 0px 5px 10px 2px rgba(239, 226, 213, 1);
    }

    .project-info .project-info-text .project-info-text-description {
        font-size: 15px;
    }

    .project-info .project-info-text .project-info-text-title {
        font-size: 15px;
    }

    .project-info .project-info-properties .project-info-property span {
        font-size: 15px;
    }

    #advantages {
        padding: 0px 7px;
    }

    #reviews #reviews-container .reviews-video iframe {
        width: 290px;
        height: 164px;
    }

    #order-container {
        padding: 0px 8px;
        box-sizing: border-box;
    }

    #order #order-container #order-text {
        margin: 49px 10px 70px 10px;
    }

    #advantages #advantages-container #advantages-container-items .advantage-item .advantage-item-title svg {
        width: 17px;
    }

    #advantages #guarantee-container #guarantee {
        box-shadow: 0px 16px 6px 2px rgba(223, 197, 171, 0.5);
    }

    .title {
        margin-top: 70px;
    }

    #order #order-container .title {
        margin-top: 70px;
    }



}

@media screen and (max-width: 335px) {

    .project-image {
        width: 285px;
    }

    .slick-dots {
        top: 270px;
    }

    #projects > div.projects.slick-initialized.slick-slider.slick-dotted > div {
        height: 765px;
    }

    .slick-next {
        top: 165px;
    }

    .slick-prev {
        top: 165px;
    }

}

@media screen and (max-width: 321px) {

    #titles-kitchen {
        font-size: 29px;
    }

    #titles-key span {
        font-size: 18px;
    }

    .title h2 {
        font-size: 28px;
    }

    .slick-next {
        right: 11px;
    }

    .slick-prev {
        left: 11px;
    }

    #guaranties {
        height: 1200px;
    }

}
